# Ignore everything
*

# But not these files...
!.gitignore
!automations.yaml

# ...even if they are in subdirectories
!.storage/

# if the files to be tracked are in subdirectories
!.storage/lovelace.lovelace_dashboard
!.storage/lovelace.lovelace_mobile
!.storage/lovelace.system_checks
!.storage/lovelace.lovelace_test
!/blueprints/script/homeassistantconfirmable_notification.yaml
!/blueprints/automation/SmartLiving.Rocks/window-open-climate-off.yaml
!/blueprints/automation/sbyx/low-battery-level-detection-notification-for-all-battery-sensors.yaml
!/blueprints/automation/adchevrier/synchronize-the-on-off-state-of-2-entities.yaml