# Ignore everything
*

# But not these files...
!.gitignore
!automations.yaml
!configuration.yaml

# ...even if they are in subdirectories
!.storage/

# if the files to be tracked are in subdirectories
!.storage/lovelace.lovelace_dashboard
!.storage/lovelace
!/blueprints/*
!/www/community/*
!/www/ui/*
