# Ignore everything
*

# But not these files...
!.gitignore

# ...even if they are in subdirectories
!.storage/

# if the files to be tracked are in subdirectories
!.storage/lovelace.lovelace_dashboard
!.storage/lovelace.lovelace_mobile
!.storage/lovelace.system_checks