# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Bluetooth Adapter
bluetooth:

# Themes
frontend:
  themes: !include_dir_merge_named themes

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# notify group
notify:
  - platform: group
    name: "Mitchell and Michelle Phones"
    services:
      - service: mobile_app_michelle_s_iphone
      - service: mobile_app_mitchell_s_iphone

# Non-template sensors
sensor:
  # Time and Date
  - platform: time_date
    display_options:
      - "time"
      - "date"

  # Weather Alerts
  - platform: weatheralerts
    state: MD
    zone: 508
    county: 25

template:
  # State-based template sensors – Home Air Quality
  - sensor:
      - default_entity_id: sensor.gym_air_quality_2
        name: "Gym Air Quality 2"
        state: >-
          {% set airQuality = states('sensor.gym_pm2_5') | float(0) %}
          {% if 0 <= airQuality <= 60 %}
            Green
          {% elif 60 < airQuality <= 90 %}
            Yellow
          {% elif 90 < airQuality %}
            Red
          {% endif %}

      - default_entity_id: sensor.ryan_air_quality
        name: "Ryan Air Quality"
        state: >-
          {% set airQuality = states('sensor.air_quality_ryan') | float(0) %}
          {% if 0 <= airQuality <= 60 %}
            Green
          {% elif 60 < airQuality <= 90 %}
            Yellow
          {% elif 90 < airQuality %}
            Red
          {% endif %}

      - default_entity_id: sensor.second_floor_air_quality_2
        name: "Second Floor Air Quality 2"
        state: >-
          {% set airQuality = states('sensor.second_floor_pm2_5') | float(0) %}
          {% if 0 <= airQuality <= 60 %}
            Green
          {% elif 60 < airQuality <= 90 %}
            Yellow
          {% elif 90 < airQuality %}
            Red
          {% endif %}

  # State-based template sensors – Pollen Levels
  - sensor:
      - default_entity_id: sensor.ragweed_simple
        name: "Ragweed Levels"
        icon: "mdi:sprout"
        state: >-
          {% set ragweed = states('sensor.home_ragweed_pollen_0d') | float(0) %}
          {% if 0 <= ragweed <= 9 %}
            Low
          {% elif 9 < ragweed <= 49 %}
            Moderate
          {% elif 49 < ragweed <= 499 %}
            High
          {% elif 499 < ragweed %}
            Very High
          {% endif %}

      - default_entity_id: sensor.tree_simple
        name: "Tree Levels"
        icon: "mdi:tree"
        state: >-
          {% set tree = states('sensor.home_tree_pollen_0d') | float(0) %}
          {% if 0 <= tree <= 14 %}
            Low
          {% elif 14 < tree <= 89 %}
            Moderate
          {% elif 89 < tree <= 1499 %}
            High
          {% elif 1499 < tree %}
            Very High
          {% endif %}

      - default_entity_id: sensor.grass_simple
        name: "Grass Levels"
        icon: "mdi:grass"
        state: >-
          {% set grass = states('sensor.home_grass_pollen_0d') | float(0) %}
          {% if 0 <= grass <= 4 %}
            Low
          {% elif 4 < grass <= 19 %}
            Moderate
          {% elif 19 < grass <= 199 %}
            High
          {% elif 199 < grass %}
            Very High
          {% endif %}

  - light:
      - default_entity_id: light.master_bedroom_ceiling_fan
        unique_id: master_bedroom_ceiling_fan
        name: "Master Bedroom Ceiling Fan Light"
        state: >-
          {% set y = state_attr('light.master_bedroom_ceiling_fan_yellow', 'brightness') | int(0) %}
          {% set w = state_attr('light.master_bedroom_ceiling_fan_white', 'brightness') | int(0) %}
          {% if (y + w) > 0 %}
            on
          {% else %}
            off
          {% endif %}
        level: "{{ states('input_number.master_bedroom_ceiling_fan_brightness') | int }}"
        temperature: "{{ states('input_number.master_bedroom_ceiling_fan_temp') | int }}"
        set_level:
          - action: input_number.set_value
            data:
              value: "{{ brightness | int }}"
            target:
              entity_id: input_number.master_bedroom_ceiling_fan_brightness
          - action: light.turn_on
            data:
              entity_id: light.master_bedroom_ceiling_fan_yellow
              brightness: >-
                {{
                  (
                    (states('input_number.master_bedroom_ceiling_fan_temp') | int - 153) /
                    347 *
                    (states('input_number.master_bedroom_ceiling_fan_brightness') | int)
                  ) | int
                }}
          - action: light.turn_on
            data:
              entity_id: light.master_bedroom_ceiling_fan_white
              brightness: >-
                {{
                  (
                    (500 - states('input_number.master_bedroom_ceiling_fan_temp') | int) /
                    347 *
                    (states('input_number.master_bedroom_ceiling_fan_brightness') | int)
                  ) | int
                }}
        set_temperature:
          - action: input_number.set_value
            data:
              value: "{{ color_temp | int }}"
            target:
              entity_id: input_number.master_bedroom_ceiling_fan_temp
          - action: light.turn_on
            data:
              entity_id: light.master_bedroom_ceiling_fan_yellow
              brightness: >-
                {{
                  (
                    (states('input_number.master_bedroom_ceiling_fan_temp') | int - 153) /
                    347 *
                    (states('input_number.master_bedroom_ceiling_fan_brightness') | int)
                  ) | int
                }}
          - action: light.turn_on
            data:
              entity_id: light.master_bedroom_ceiling_fan_white
              brightness: >-
                {{
                  (
                    (500 - states('input_number.master_bedroom_ceiling_fan_temp') | int) /
                    347 *
                    (states('input_number.master_bedroom_ceiling_fan_brightness') | int)
                  ) | int
                }}
        turn_on:
          - action: light.turn_on
            data:
              entity_id: light.master_bedroom_ceiling_fan_yellow
              brightness: >-
                {{
                  (
                    (states('input_number.master_bedroom_ceiling_fan_temp') | int - 153) /
                    347 *
                    (states('input_number.master_bedroom_ceiling_fan_brightness') | int)
                  ) | int
                }}
          - action: light.turn_on
            data:
              entity_id: light.master_bedroom_ceiling_fan_white
              brightness: >-
                {{
                  (
                    (500 - states('input_number.master_bedroom_ceiling_fan_temp') | int) /
                    347 *
                    (states('input_number.master_bedroom_ceiling_fan_brightness') | int)
                  ) | int
                }}
        turn_off:
          - action: light.turn_off
            data:
              entity_id: light.master_bedroom_ceiling_fan_yellow
          - action: light.turn_off
            data:
              entity_id: light.master_bedroom_ceiling_fan_white
