# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Bluetooth Adapter
bluetooth:

# Themes
frontend:
  themes: !include_dir_merge_named themes

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# notify group
notify:
  - platform: group
    name: "Mitchell and Michelle Phones"
    services:
      - service: mobile_app_michelle_s_iphone
      - service: mobile_app_mitchell_s_iphone

# sensor templates
sensor:
  # Time and Date
  - platform: time_date
    display_options:
      - "time"
      - "date"
  # Weather Alerts
  - platform: weatheralerts
    state: MD
    zone: 508
    county: 25

  # Templates for Home Air Quality
  - platform: template
    sensors:
      gym_air_quality_2:
        value_template: >-
          {% set airQuality = states('sensor.gym_pm2_5') | float %}
          {% if 0 <= airQuality <= 60 %}
            Green
          {% elif 60 < airQuality <= 90 %}
            Yellow
          {% elif 90 < airQuality %}
            Red
          {% endif %}

      ryan_air_quality:
        value_template: >-
          {% set airQuality = states('sensor.air_quality_ryan') | float %}
          {% if 0 <= airQuality <= 60 %}
            Green
          {% elif 60 < airQuality <= 90 %}
            Yellow
          {% elif 90 < airQuality %}
            Red
          {% endif %}

      second_floor_air_quality_2:
        value_template: >-
          {% set airQuality = states('sensor.second_floor_pm2_5') | float %}
          {% if 0 <= airQuality <= 60 %}
            Green
          {% elif 60 < airQuality <= 90 %}
            Yellow
          {% elif 90 < airQuality %}
            Red
          {% endif %}

  # Templates for Weather Info
  - platform: template
    sensors:
      ragweed_simple:
        friendly_name: "Ragweed Levels"
        icon_template: "mdi:sprout"
        value_template: >-
          {% set ragweed = states('sensor.home_ragweed_pollen_0d') | float %}
          {% if 0 <= ragweed <= 9 %}
            Low
          {% elif 9 < ragweed <= 49 %}
            Moderate
          {% elif 49 < ragweed <= 499 %}
            High
          {% elif 499 < ragweed %}
            Very High
          {% endif %}

      tree_simple:
        friendly_name: "Tree Levels"
        icon_template: "mdi:tree"
        value_template: >-
          {% set tree = states('sensor.home_tree_pollen_0d') | float %}
          {% if 0 <= tree <= 14 %}
            Low
          {% elif 14 < tree <= 89 %}
            Moderate
          {% elif 89 < tree <= 1499 %}
            High
          {% elif 1499 < tree %}
            Very High
          {% endif %}

      grass_simple:
        friendly_name: "Grass Levels"
        icon_template: "mdi:grass"
        value_template: >-
          {% set grass = states('sensor.home_grass_pollen_0d') | float %}
          {% if 0 <= grass <= 4 %}
            Low
          {% elif 4 < grass <= 19 %}
            Moderate
          {% elif 19 < grass <= 199 %}
            High
          {% elif 199 < grass %}
            Very High
          {% endif %}



# Color temp for ceiling fan in Master Bedroom
light:
  - platform: template
    lights:
      master_bedroom_ceiling_fan:
        friendly_name: "Master Bedroom Ceiling Fan Light"
        unique_id: master_bedroom_ceiling_fan
        value_template: "{{ (state_attr('light.master_bedroom_ceiling_fan_yellow', 'brightness')|int(0) + state_attr('light.master_bedroom_ceiling_fan_white', 'brightness')|int(0)) > 0 }}"
        level_template: "{{ states('input_number.master_bedroom_ceiling_fan_brightness')|int }}"
        temperature_template: "{{ states('input_number.master_bedroom_ceiling_fan_temp')|int }}"
        set_level:
          - action: input_number.set_value
            data:
              value: "{{ brightness|int }}"
            target:
              entity_id: input_number.master_bedroom_ceiling_fan_brightness
          - action: light.turn_on
            data:
              entity_id: light.master_bedroom_ceiling_fan_yellow
              brightness: "{{ ((states('input_number.master_bedroom_ceiling_fan_temp')|int-153)/347*states('input_number.master_bedroom_ceiling_fan_brightness')|int)|int }}"
          - action: light.turn_on
            data:
              entity_id: light.master_bedroom_ceiling_fan_white
              brightness: "{{ ((500-states('input_number.master_bedroom_ceiling_fan_temp')|int)/347*states('input_number.master_bedroom_ceiling_fan_brightness')|int)|int }}"
        set_temperature:
          - action: input_number.set_value
            data:
              value: "{{ color_temp|int }}"
            target:
              entity_id: input_number.master_bedroom_ceiling_fan_temp
          - action: light.turn_on
            data:
              entity_id: light.master_bedroom_ceiling_fan_yellow
              brightness: "{{((states('input_number.master_bedroom_ceiling_fan_temp')|int-153)/347*states('input_number.master_bedroom_ceiling_fan_brightness')|int)|int}}"
          - action: light.turn_on
            data:
              entity_id: light.master_bedroom_ceiling_fan_white
              brightness: "{{((500-states('input_number.master_bedroom_ceiling_fan_temp')|int)/347*states('input_number.master_bedroom_ceiling_fan_brightness')|int)|int}}"
        turn_on:
          - action: light.turn_on
            data:
              entity_id: light.master_bedroom_ceiling_fan_yellow
              brightness: "{{((states('input_number.master_bedroom_ceiling_fan_temp')|int-153)/347*states('input_number.master_bedroom_ceiling_fan_brightness')|int)|int}}"
          - action: light.turn_on
            data:
              entity_id: light.master_bedroom_ceiling_fan_white
              brightness: "{{((500-states('input_number.master_bedroom_ceiling_fan_temp')|int)/347*states('input_number.master_bedroom_ceiling_fan_brightness')|int)|int}}"
        turn_off:
          - action: light.turn_off
            data:
              entity_id: light.master_bedroom_ceiling_fan_yellow
          - action: light.turn_off
            data:
              entity_id: light.master_bedroom_ceiling_fan_white
